* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: Lato;
}

/* Header styles */

.pageHeader {
    background: #0B173B ;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
}

#firstContainer {
    display: flex;
    padding: 11px 50px;
}

#logo {
    flex-basis: 20%;
    padding: 8px;
}

#options {
    padding: 2px 11px 1px 0px ;
    flex-basis: 80%;
}

.optionsList {
    display: flex;
    color: #FAFAFA;
    justify-content: end;
    list-style: none;
}

#languageMenu {
    background: transparent;
    font-size: 16px;
    color: #FAFAFA;
}

.language,
.singIn {
    margin: 10px;
}

/* Middle box */

#middleBox {
    position: relative;
}

#boxContent {
    background: rgba(0, 0, 0, 0.781);
    padding: 10px;
}

#pictures {
    background-size: 100% 100%;
    padding: 80px 0px;
    background-repeat: no-repeat;
}

#message {
    padding: 40px;
    color: #FAFAFA;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#message h2 {
    width: 90%;
}

#bar {
    margin: 0px 20px 10px 31px;
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    width: 83%;
}

#bar:hover {
    border-color: #2196F3;
}

#btn:hover {
    cursor: pointer;
    background-color: #0B173B;
    color: #FAFAFA;
    transition: 1s;
}

#btn {
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 13px;
    border-color: #0B173B;
    font-weight: 500;
}

/* Here goes the styles for the top movies */

#containerTopMovies {
    color: #000000;
    padding: 50px 25px;
}

#containerOtherMovies {
    padding: 50px 25px;
    color: #FAFAFA;
    background: rgba(1, 12, 58, 0.92);
}

.titleContainer {
    font-size: 1em;
    display: flex;
}

.title {
    margin-right: 20px;
}

/* Here goes the styles of some features to show other list of tops movies */

.optionsTopRender {
    position: relative;
    display: flex;
    border: thin #000000 solid;
    justify-content: space-between;
    border-radius: 30px;
}

.options {
    padding: 4px 20px;
}

.option {
    text-decoration: none;
}

#selector {
    background-color: #0B173B;
    position: absolute;
    border-radius: 30px;
    z-index: -1;
}

.selectorMove {
    padding: 13.5px 46px;
    position: 0;
}

.firstOptionMove {
    color: #FAFAFA;
    transition: 1s;
}

.secondOptionMove {
    color: #000000;
    transition: 1s;
}

.selectorRightMove {
    left: 75px;
    transition: 1s;
    padding-left: 65px;
}

.selectorLeftMove {
    left: 0px;
    padding-left: 45px;
    transition: 1s;
}

/* This styles are for the list of the top movies shows as cards */

.listElements {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.movieCard {
    flex-direction: column;
    width: fit-content;
    height: auto;
    margin: 30px 5px 15px 6px;
    padding: 5px;
    position: relative;
}

.image {
    border-radius: 15px;
    padding: 10px;
    width: max-content;
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    max-width: 150px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.scoreBox {
    background-color: #000000bb;
    border-radius: 50%;
    color: #FAFAFA;
    font-size: 0.9em;
    font-weight: bolder;
    left: 18px;
    margin: 5px;
    position: absolute;
    padding: 10px 6px;
    top: 263px;
}

.goodScore {
    border: #06ba06 solid;
}

.regularScore {
    border: #eeff00fd solid;
}

.badScore {
    border: #e70808fd solid;
}

.scoreBox span {
    font-size: 0.8em;
}

/* Here goes the styles for the responses of the search */

#containerResults {
    padding: 30px;
    margin: 0 auto;
    max-width: 1400px;
    flex-wrap: wrap;
}

.hideBox {
    display: none;
}

.showContainer {
    display: flex;
}

.movie {
    display: flex;
    border-radius: 17px;
    width: 25%;
    margin-top: 60px;
}

.poster {
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: cover;
}

.dataMovie {
    margin: 10px;
}

.data {
    margin-bottom: 15px;
}

.titleSearch {
    font-weight: bold;
}

.dateSearch {
    margin-top: 5px;
    font-weight: lighter;
}

.overview {
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 50px;
    font-size: 0.9em;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 5; /* number of lines to show */
           line-clamp: 5; 
   -webkit-box-orient: vertical;
}

.emptyResponse {
    display: flex;
    justify-content: center;
    font-size: 2em;
}